.header-container {
  position: relative;
  /* height: 100vh; */
}

.header-container::before {
  width: 67%;
  position: absolute;
  content: " ";
  top: 0%;
  height: 94%;
  left: 0;
  background-image: url("../../../images/chairBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  z-index: -1;
}
.header-container::after {
  width: 33%;
  position: absolute;
  content: " ";
  top: 0%;
  height: 94%;
  z-index: -1;
  right: 0;
  background-color: #3a4256;
}

/* HeaderMain CSS Style */

/* Info Card Css Style */

.info-primary {
  background-color: #1cc7c1;
}
.info-dark {
  background-color: #3a4256;
}
.info-icon {
  font-size: 65px;
  margin-right: 20px;
}
.info-container {
  height: 120px;
  border-radius: 4px;
  padding: 20px 0;
}
.info-card {
  padding: 0 6px;
}
/* Business Info Css Style */
.business-card {
  width: 85%;
}

/* appointment Section Css Style */
.appointment-container {
  background-color: #3a4256;
  background-image: url(../../../images/chairBg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.doctors-img {
  height: 450px;
  justify-items: end;
}
.doctors-img img {
  transform: translateY(-166px);
  width: 100%;
}

/* Testimonial Card Css Style */
.testimonial-container {
  background-image: url(../../../images/bg-coma.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 15%;
}
.testimonial-main {
  margin: -150px;
}
.testimonial-card,
.our-blogs-card {
  box-shadow: -1px 1px 5px lightgrey;
  border-radius: 4px;
  padding: 20px 22px;
  margin: 14px;
}

/* Text Color */

/* OurBlogs Css */

.our-blogs-main {
  margin: -150px;
}
.our-blogs-card {
  position: relative;
}
.our-blogs-card::before {
  position: absolute;
  width: 0%;
  content: " ";
  background: linear-gradient(to right, #19d3ae, #0fcfec);
  height: 100%;
  left: 0%;
  top: 0%;
  transition: 0.7s;
  border-radius: 4px;
  transition-timing-function: ease-in-out;
}
.our-blogs-card:hover::before {
  width: 100%;
}
/* Doctos Css Style  */
.doctors-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: -5px -17px;
}
.doctors-icon {
  font-size: 20px;
  color: #1cc7c1;
}

/* Contact Us Form Css Style  */
.contactus-main {
  background-color: #3a4256;
  background-image: url(../../../images/bg-contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}
.contact-input {
  height: 65px;
}
.contact-us-text {
  color: white;
  font-size: 65px;
}
.contact-us-btn {
  font-weight: 600;
  font-size: 20px;
  padding: 10px 30px;
}
